.App {
  font-family: sans-serif;
}

.images-container {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.image-class {
  border-radius: 10px;
  height: 300px;
  /* width: 200px; */
  object-fit: cover;
}

.container {
  display: flex;
}
